In [6]:
#pandas append function
#it is used to append rows of other dataframe to the end of the given dataframe, returning a new dataframe object.
#syntax:- df.append()
#parameters: 
#1.other
#2.ignore_index
#3.sort

In [7]:
import pandas as pd

In [9]:
df1 = pd.DataFrame({'A': [1,2,3],
                    'B': [10,20,30]})

df2 = pd.DataFrame({'A': [4,5,6],
                    'B': [40,50,60]})

display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [11]:
df1.append(df2)

AttributeError: 'DataFrame' object has no attribute 'append'