In [29]:
#how to create python pandas data frame

In [30]:
import pandas as pd

In [32]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [33]:
list = ['a','b','c']
print(list)

['a', 'b', 'c']

In [35]:
df1 = pd.DataFrame(list)
print(df1)

   0
0  a
1  b
2  c

In [36]:
df1

   0
0  a
1  b
2  c

In [37]:
lst_of_lst = [[1,2,3], [2,3,4],[4,5,6]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [38]:
df2 = pd.DataFrame(lst_of_lst)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [39]:
dict1 = {'ID' : [11,22,33,44]}
dict1

{'ID': [11, 22, 33, 44]}

In [40]:
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [44]:
dict2 = {'ID' : [11,22,33,44], 'SN' : [1,2,3,4]}
dict2

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [45]:
df4 = pd.DataFrame(dict2)
df4

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [47]:
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [48]:
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5 }]
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [50]:
dict_sr = {'id' : pd.Series([1,2,3]), 'sn' : pd.Series([111,222,333])}
df6 = pd.DataFrame(dict_sr)
df6

   id   sn
0   1  111
1   2  222
2   3  333