In [39]:
#datatimeindex

In [40]:
import pandas as pd

In [44]:
df = pd.read_csv('C:\\Users\\kaushal prasad\\Downloads\\dataset\\VC_Startups_1.csv', parse_dates = ['Date'])
df

        Date  R&D Spend  Marketing Spend  Profit
0 2019-01-07     165349           136897  192261
1 2019-02-07     133848           151377  191792
2 2019-03-07     153441           327468  191050
3 2019-04-07     144372            63338  182901
4 2019-05-07     142107            91391  166187
5 2019-08-07     131876            99814  156991
6 2019-09-07     134615           147198  156122
7 2019-10-07     130298           145530  155752
8 2019-11-07     120542           148718  152211
9 2019-12-07     123334           108679  149759

In [45]:
df.dtypes

Date               datetime64[ns]
R&D Spend                   int64
Marketing Spend             int64
Profit                      int64
dtype: object

In [46]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp