In [3]:
#pandas loc and iloc
#loc:- access a group of rows & colums by label(s) or boolean array
#syntax: dataFrame.loc[]

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("C:\\Users\\kaushal prasad\\Downloads\\dataset\\student_hrs.csv")
df

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60
3        1004     11          0                       1          45
4        1005     12          5                       2          75

In [8]:
df.loc[0]

Student ID                1001
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: int64

In [9]:
df.loc[4]

Student ID                1005
Class                       12
Study hrs                    5
Social Media usage hrs       2
Percentage                  75
Name: 4, dtype: int64

In [10]:
df.loc[[0,1]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
1        1002     10          6                       2          80

In [11]:
df.loc[[2,4]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
2        1003     10          3                       2          60
4        1005     12          5                       2          75

In [12]:
df.loc[4,'Class']

12

In [13]:
df.loc[0:3, 'Class']

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [14]:
df.loc[0:2, 'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

In [32]:
df.loc[[False, False, True, False, True]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
2        1003     10          3                       2          60
4        1005     12          5                       2          75

In [20]:
df.loc[df['Class'] < 11]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60

In [21]:
df.loc[df['Class'] < 11, ['Percentage'] ] ['Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

In [22]:
#iloc integer- based indexing
#syntax : Dataframe.iloc[]

In [23]:
df.iloc[0]

Student ID                1001
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: int64

In [24]:
df.iloc[[0]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50

In [25]:
df.iloc[:, 0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [27]:
df.loc[:, 0]

KeyError: 0

In [29]:
df.iloc[[0,1]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
1        1002     10          6                       2          80

In [31]:
df.iloc[[True, False, True, False, True]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
2        1003     10          3                       2          60
4        1005     12          5                       2          75